<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Index</title>
   </head>
   <body data-spy="scroll" data-target=".navbar" data-offset="50">
      <nav class="navbar navbar-default navbar-fixed-top">
         <div class="container-fluid">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="#home"><bold>&infin; Mayra + Mario</bold> </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
               <ul class="nav navbar-nav navbar-right">
                  <li><a href="#home">Home</a></li>
                  <li><a href="#wedding">Wedding</a></li>
                  <li><a href="#travel">Travel</a></li>
                  <li><a href="#rsvp">RSVP</a></li>
                  <li><a href="#gallery">Gallery</a></li>
                  <li><a href="#guestbook">Guestbook</a></li>
                  <li><a href="#gifts">Gifts</a></li>
                  <li><a href="#contact">Contact</a></li>
                  <li><a href="#countdown">Countdown</a></li>
               </ul>
            </div>
         </div>
      </nav><br>

      <!-- Home Section -->
      <div class="container-fluid text-cente" id="home">
         <div class="jumbotron text-cente">

         </div><br>
         <hr>
         <br>
         <div class="container-fluid">
            <div class="row">
               <div class="col-sm-6">
                  <h3>Welcome</h3>
                  <p>Welcome to our wedding website, we can’t wait to celebrate our special day with you.</p>
                  <p>We’ve created this website as a convenient and interactive way to share all of the important details with you in the lead up to our wedding. Take a look around and don’t forget to RSVP!</p>
                  <p>Thank you for your ongoing love and support. We are so excited to share this day with you and look forward to dancing the night away with all of our favourite people!</p>
                  <p>As the big day draws closer, we would like to keep you informed on our wedding details as well as provide you with helpful information. Please check out our entire website for updates and additional information. If you have any questions that are not addressed on the website, please feel free to email us at mmhochweber@gmail.com.</p>
               </div>
               <div class="col-sm-6">
                  <div id="myCarousel" class="carousel slide" data-ride="carousel">
                     <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                     </ol>

                     <div class="carousel-inner">
                        <div class="item active">
                           <img src="assets/1.jpg" alt="pic1">
                        </div>
                        <div class="item">
                           <img src="assets/2.jpg" alt="pic2">
                        </div>
                        <div class="item">
                           <img src="assets/3.jpg" alt="pic3">
                        </div>
                     </div>

                     <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                     </a>
                     <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- End home section -->

      <!-- Wedding Section -->
      <div class="container-fluid" id="wedding">
         <div class="container text-center">
            <h3>The Wedding</h3>
            <p>As the big day draws closer, we would like to keep you informed on our wedding details as well as provide you with helpful information. Please check out our entire website for updates and additional information. If you have any questions that are not addressed on the website, please feel free to email us at mmhochweber@gmail.com</p>
         </div>
         <div class="page-header text-center">
            <h4>Upcoming Events</h4>
         </div>
         <div class="row">
            <div class="col-sm-4 col-sm-offset-2">
               <img src="https://placehold.it/150x80?text=IMAGE" alt="pic" style="width: 100%;">
            </div>
            <div class="col-sm-4">
               <h5>Thursday, June 21, 2018  | Park</h5>
               <h5>BBQ in the Park</h5>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-4 col-sm-offset-2">
               <h5>Friday, June 22, 2018  | Beer Garden</h5>
               <h5>Party!</h5>
            </div>
            <div class="col-sm-4">
               <img src="https://placehold.it/150x80?text=IMAGE" alt="pic" style="width: 100%;">
            </div>
         </div>
         <div class="row">
            <div class="col-sm-4 col-sm-offset-2">
               <img src="https://placehold.it/150x80?text=IMAGE" alt="pic" style="width: 100%;">
            </div>
            <div class="col-sm-4">
               <h5>Sat 23 Jun | Krongut Bornstedt</h5>
               <h5>Church Service</h5>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-4 col-sm-offset-2">
               <h5>Sat 23 Jun | Krongut Bornstedt</h5>
               <h5>Dinner Party</h5>
            </div>
            <div class="col-sm-4">
               <img src="https://placehold.it/150x80?text=IMAGE" alt="pic" style="width: 100%;">
            </div>
         </div><br>
      </div><br>
      <!-- End Wedding section -->

      <!-- Travel Section -->
      <div class="container-fluid" id="travel">
         <div id="travelHeader" class="page-header text-center">
            <h3>Travel</h3>
            <p>Are your bags packed and ready to go? We have a few pointers so you can make the most out of your experience in Berlin. We touch on everything from hotel recommendation, our favorite bars, restaurants and beer-gardens and a spectrum of activities running from local to touristic to novel. We love this city and look forward to giving you a taste of some of the local flavour.</p>
         </div>
         <div class="container">
            <div class="row">
               <div class="col-sm-4 col-sm-offset-1">
                  <h3>Transportation</h3>
                  <div class="container-fluid">
                     <h5>Tegel Airport</h5>
                     <p>A taxi will cost roughly 25 EUR and 30 minutes.  Otherwise the TXL Express Bus costs 2.30 EUR and takes 40 min.</p>
                  </div>
                  <div class="container-fluid">
                     <h5>Schonefeld Airport</h5>
                     <p>Being further outside the city, a taxi will cost around 40 EUR and 35 minutes or you could take the S-bahn or Regional Train for 3.30 EUR which takes between 45min - 1 hour.</p>
                  </div>
                  <div class="container-fluid">
                     <h5>Berlin Main Train Station</h5>
                     <p>Centrally located and well connected, its easy to get around from here. Both a taxi (10 EUR) and Public Transport (2.70 EUR) take less than 10 minutes to get to AlexanderPlatz.</p>
                  </div>
               </div>
               <div class="col-sm-4 col-sm-offset-1">
                  <img src="https://placehold.it/150x80?text=IMAGE" alt="" style="width: 100%;">
               </div>
            </div>
         </div>
         <!-- hotel recommendations -->
         <div class="page-header text-center">
            <h3>Hotel Recommendations</h3>
         </div>
         <div class="container">
            <div class="row">
               <div class="col-sm-4">
                  <div class="thumbnail">
                     <img src="https://placehold.it/150x80?text=IMAGE" alt="" style="width: 100%;">
                     <div class="caption">
                        <h5>Hotels</h5>
                        <ul>
                           <li>Trendy: 25 Hours Hotel</li>
                           <li>Cool: Michelberger Hotel</li>
                           <li>Unique: Radisson Blu Hotel</li>
                           <li>Central: Parkinn Alexanderplatz</li>
                           <li>Budget: Circus Hotel Hostel  </li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-sm-4">
                  <div class="thumbnail">
                     <img src="https://placehold.it/150x80?text=IMAGE" alt="" style="width: 100%;">
                     <div class="caption">
                        <h5>Airbnb</h5>
                        <p>We recommend staying around Mitte or Prenzlauer Berg.</p>
                     </div>
                  </div>
               </div>
               <div class="col-sm-4">
                  <div class="thumbnail">
                     <a href="#">
                        <img src="https://placehold.it/150x80?text=IMAGE" alt="" style="width: 100%;">
                        <div class="caption">
                           <h5>Hostels</h5>
                           <p>If you’re looking to spend your hard-earned cash on experiences rather than where you rest your head for the night - or if you don’t really plan on sleeping - we’ve rounded up some of the best budget hotels Berlin has to offer.</p>
                        </div>
                     </a>
                  </div>
               </div>
            </div>
         </div>
         <!-- /hotel recommendations -->
         <!-- memory lane -->
         <div class="page-header text-center">
            <h3>Memory Lane</h3>
         </div>
         <div class="container">
            <div class="row">
               <div class="col-sm-4 col-sm-offset-2">
                  <img src="https://placehold.it/150x80?text=IMAGE" alt="" style="width:100%;">
                  <div class="bottom-left">First date</div>
               </div>
               <div class="col-sm-4">
                  <img src="https://placehold.it/150x80?text=IMAGE" alt="" style="width:100%;">
                  <div class="bottom-left">Fav Restaurant</div>
               </div>
            </div>
         </div>
         <!-- /memory lane -->
         <!-- recommendations -->
         <div class="page-header text-center">
            <h3>Recommendations</h3>
         </div>
         <div class="container">
            <div class="row">
               <div class="col-sm-4">
                  <div class="thumbnail">
                     <img src="https://placehold.it/150x80?text=IMAGE" alt="" style="width: 100%;">
                     <div class="caption">
                        <h5>Bars</h5>
                        <p>Our 7 favorite bars that we think are perfect.</p>
                     </div>
                  </div>
               </div>
               <div class="col-sm-4">
                  <div class="thumbnail">
                     <img src="https://placehold.it/150x80?text=IMAGE" alt="" style="width: 100%;">
                     <div class="caption">
                        <h5>Day Activities</h5>
                        <p>Berlin is actually very big and there is so much to discover beyond our usual comfort zone.</p>
                     </div>
                  </div>
               </div>
               <div class="col-sm-4">
                  <div class="thumbnail">
                     <a href="#">
                        <img src="https://placehold.it/150x80?text=IMAGE" alt="" style="width: 100%;">
                        <div class="caption">
                           <h5>Lakes</h5>
                           <p>In a region with thousands of lakes, swimming feels as natural as cycling.</p>
                        </div>
                     </a>
                  </div>
               </div>
            </div>
         </div>
         <!-- /recommendations -->
         <!-- what to do -->
         <div class="page-header text-center">
            <h3>What to do</h3>
         </div>
         <div class="container">
            <div class="row">
               <div class="col-sm-3">
                  <div class="thumbnail">
                     <img src="https://placehold.it/150x80?text=IMAGE" alt="" style="width: 100%;">
                     <div class="caption">
                        <h5>Tempelhof Airport</h5>
                        <p></p>
                     </div>
                  </div>
               </div>
               <div class="col-sm-3">
                  <div class="thumbnail">
                     <img src="https://placehold.it/150x80?text=IMAGE" alt="" style="width: 100%;">
                     <div class="caption">
                        <h5>Badeschiff</h5>
                        <p></p>
                     </div>
                  </div>
               </div>
               <div class="col-sm-3">
                  <div class="thumbnail">
                     <img src="https://placehold.it/150x80?text=IMAGE" alt="" style="width: 100%;">
                     <div class="caption">
                        <h5>Hall of Mirrors in Clarchens Ballhaus</h5>
                        <p></p>
                     </div>
                  </div>
               </div>
               <div class="col-sm-3">
                  <div class="thumbnail">
                     <img src="https://placehold.it/150x80?text=IMAGE" alt="" style="width: 100%;">
                     <div class="caption">
                        <h5>East Side Gallery</h5>
                        <p></p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- /what to do?-->
         <!-- where to eat -->
         <!-- /where to eat -->

      </div>
      <!-- End Travel section -->

      <!-- RSVP Section -->
      <div class="container text-center" id="rsvp">
         <div class="page-header">
            <h3>RSVP</h3>
         </div><br>
         <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
               <div class="container-fluid">

                  <!-- Errors -->
                  <% if flash[:errors] %>
                     <% flash[:errors].each do |error| %>
                        <div class="alert alert-danger alert-dismissible" role="alert" id="errors">
                           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                           </button>
                           <strong><%= error %></strong>
                        </div>
                     <% end %>
                  <% end %>
                  <!-- End Errors -->

                  <!-- Notices -->
                  <% if flash[:notice] %>
                     <div class="alert alert-success alert-dismissible" role="alert" id="notice">
                        <% flash[:notice].each do |notice| %>
                           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                           </button>
                           <span><%= notice %></span>
                        <% end %>
                     </div>
                  <% end %>
                  <!-- End Notices -->

                  <h4>Mayra & Mario</h4>
                  <p><small>June 23,2018</small></p>
                  <p><small>You're invited to our wedding celebration! Please RSVP so we can acommodate you.</small></p>

                  <form class="text-left" action="/users" method="post">
                     <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />

                     <div class="form-group">
                        <label for="first_name">First Name:</label>
                        <input type="text" name="user[first_name]" class="form-control" id="first_name">
                     </div>
                     <div class="form-group">
                        <label for="last_name">Last Name:</label>
                        <input type="text" name="user[last_name]" class="form-control" id="last_name">
                     </div>
                     <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" name="user[email]" class="form-control" id="email">
                     </div>
                     <p>Will you be attending?</p>
                     <div class="radio">
                        <label><input type="radio" name="user[attending]" value="Yes">Yes</label>
                        <label><input type="radio" name="user[attending]" value="No">No</label>
                     </div>
                     <div class="form-group">
                        <label for="comment">Comment:</label>
                        <textarea class="form-control" name="user[comment]" id="comment" rows="5"></textarea>
                     </div>
                     <button type="submit" class="btn btn-default">Submit</button>
                  </form>
               </div>
            </div>
         </div>
      </div><br>
      <!-- End RSVP section -->

      <!-- Gallery Section -->
      <div class="container-fluid" id="gallery">
         <div id="myCarousel2" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
               <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
               <li data-target="#myCarousel2" data-slide-to="1"></li>
               <li data-target="#myCarousel2" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner">
               <div class="item active">
                  <img src="/assets/4.jpg" alt="pic4">
               </div>
               <div class="item">
                  <img src="/assets/5.jpg" alt="pic5">
               </div>
               <div class="item">
                  <img src="/assets/6.jpg" alt="pic6">
               </div>
            </div>

            <a class="left carousel-control" href="#myCarousel2" data-slide="prev">
               <span class="glyphicon glyphicon-chevron-left"></span>
               <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel2" data-slide="next">
               <span class="glyphicon glyphicon-chevron-right"></span>
               <span class="sr-only">Next</span>
            </a>
         </div>
      </div>
      <!-- End Gallery section -->

      <!-- Guestbook Section -->
      <div class="container-fluid text-center" id="guestbook">
         <div class="page-header">
            <h3>Guestbook</h3>
         </div>
         <div class="container">
            <div class="row">
               <div class="col-sm-6">
                  <div class="container-fluid text-left">

                     <form method="post" action="/guestbooks">
                        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />

                        <div class="form-group">
                           <label for="name">Name:</label>
                           <input type="text" name="guestbook[name]" class="form-control" id="name">
                        </div>
                        <div class="form-group">
                           <label for="message">Message:</label>
                           <textarea class="form-control" name="guestbook[message]" id="message" rows="5"></textarea>
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                     </form>
                  </div>
               </div>
               <div class="container">
                  <div id="guestbookMessages" class="col-sm-6">

                  </div>
               </div>
            </div><br>
         </div>
      </div>
      <!-- End Guestbook section -->

      <!-- Gifts Section -->
      <div class="container-fluid" id="gifts">
         <div class="page-header text-center">
            <h3>Gifts</h3>
         </div>
      </div>
      <!-- End Gifts section -->

      <!-- Contact Section -->
      <div class="container-fluid text-center" id="contact">
         <div class="container">
            <div class="row">
               <div class="col-sm-6">
                  <h3>Contact Us</h3>
                  <p><small>Tel: 123-456-7890</small></p>
                  <p><small>Email: mmhochweber@gmail.com</small></p>
               </div>
               <div class="col-sm-6">
                  <img src="https://placehold.it/150x80?text=IMAGE" alt="pic" style="width: 100%;">
               </div>
            </div><br>
         </div>
         <div class="container">
            <div class="row">
               <div class="col-sm-6">
                  <div class="container-fluid text-left">

                     <form action="/contacts" method="post">
                        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />

                        <div class="form-group">
                           <label for="name">Name:</label>
                           <input type="text" name="contact[name]" class="form-control" id="name">
                        </div>
                        <div class="form-group">
                           <label for="email">Email:</label>
                           <input type="email" name="contact[email]" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                           <label for="subject">Subject:</label>
                           <input type="text" name="contact[subject]" class="form-control" id="subject">
                        </div>
                        <div class="form-group">
                           <label for="message">Message:</label>
                           <textarea class="form-control" name="contact[message]" id="message" rows="5"></textarea>
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                     </form>
                  </div>
               </div>
               <div class="col-sm-6">
                  <h3>Get in touch</h3>
                  <p><small>Do you have questions?</small></p>
               </div>
            </div>
         </div>
      </div>
      <!-- End Contact section -->

      <!-- Countdown Section -->
      <div class="container-fluid text-center" id="countdown">
         <div class="page-header text-center">
            <h3>Countdown</h3>
         </div>
         <p id="demo" style="font-size: 60px;"></p>
      </div>
      <!-- End Countdown section -->

      <footer class="container-fluid text-center">
         <p><p>Copyright &copy; 2018 Daniel Palacios</p></p>
      </footer>

   </body>
</html>
